/*
        NEW CSS
*/ 

.Header {
  background-color:#D8E2FF;
  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  padding-bottom: 1%;
  padding-top: 1%;
}

@media only screen and (max-width: 500px) {
  .Header {
    padding-bottom: 3%;
    padding-top: 3%;
  }
  .Logo {
    width: 15% !important;
   }
}

.Logo {
 width: 7%;
}

.Content {
  margin-top: 3%;
  margin-bottom: 7%;
}

.AddObject {
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.Title {
  color: #BBBBBB;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.Input {
  background-color: #F1F1F1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);
  border: none;
  width: 85%;
}

.Button {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);
  background-color: #D8E2FF;
  border: none;
  margin-left: 1%;
  color: white;
}

.Object {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .35);
  background-color: white;
  padding: 3%;
  margin: 3%;
  width: 44%;
  display: inline-block;
  justify-content: center;
  text-align: center;
  border: none;
}

.Icon {
  margin-top: 5%;
  margin-bottom: 3%;
}

.buttonEdit {
  background-color: #D8E2FF;
  color: white;
  border: none;
  padding-bottom: 3%; 
  padding-top: 3%;
  width: 50%;
}

.buttonDelete {
  background-color: white;
  color: #B8CAFF;
  border: none;
  padding-bottom: 3%; 
  padding-top: 3%;
  width: 50%;
}

.Login {  
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .35);
  background-color: white;
  padding: 7%;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.LoginTitle {
  color: #BBBBBB;
  margin: 0;
  margin-bottom: 5%;
  text-align: center;
}

.LoginLink a{
  color: #B8CAFF;
  text-align: center;
}

.LoginLink {
  margin: 0;
}

.LoginInput{
  background-color: #F1F1F1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
 width: 100%;
}

.LoginButton {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);
  background-color: #D8E2FF;
  border: none;
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 5%;
  color: white;
  font-weight: 600;
  width: 100%;
}

/*
        SO NO MEDIUM
*/ 


button {
  padding-bottom: 3%; 
  padding-top: 3%;
  width: 50%;
  border: none;
}

/*
        OLD CSS
*/ 

.ButtonSave {
  background-color: #D8E2FF;
  margin-top: 3%;
  color: white;
  width: 100%;
}

a {
  text-decoration: none;
  margin-right: 3%;
  margin-left: 3%;
  color: white;
}

.navActive {
  color: #B8CAFF;
}

.Body {
  padding-right: 33%;
  padding-left: 33%;
  padding-bottom: 5%;
}

.EditField p {
  margin: 2%;
}

.EditField input {
  width: 100%;
}

.buttonMore {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);
  background-color: #D8E2FF;
  padding-bottom: 2%; 
  padding-top: 2%;
  color: white;
  width: 15%;
  margin-left: 42.5%;
}

.buttonMore:hover {
  color:#D8E2FF;
  background-color: white;
  border: 1px solid #D8E2FF;
}

.objectName {
  color: #BBBBBB;
  margin-top: 0;
  margin-bottom: 10%;
  font-weight: 600;
}

.RankingEntry{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);;
  border: 1px solid #707070;
  background-color: white;
  padding: 1%;
  margin-bottom: 3%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.EditField{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);;
  border: 1px solid #707070;
  background-color: white;
  padding: 3%;
  width: 100%;
  margin-top: 7%;
}

.RankingEntryPersonal {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);;
  border: 1px solid #707070;
  background-color: #F1F1F1;
  padding: 1%;
  margin-bottom: 3%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.RankingEntry:hover {
  background-color: #D8E2FF;
}

.RankingEntryPersonal:hover {
  background-color: #D8E2FF;
}

.RankingEntry p, .RankingEntryPersonal p { 
  padding: 0;
  margin: 0;
}

.columnRanking1{
  padding: 0;
  width: 5%;
}

.columnRanking1 img{
  width: 100%;
}

.columnRanking2{
  color: #BBBBBB;
  text-align: left;
  padding: 0;
  padding-left: 1%;
  width: 80%;
}

.columnRanking3{
  padding: 0;
  width: 15%;
  color: #B8CAFF;
}

.Objects {
  margin:0;
}

.leftObjects{
  float:left;
  width:50%;
  overflow:hidden;
}

.rightObjects{
  float:left;
  width:50%;
  overflow:hidden;
} 

.add {
  width: 100%;
}

.objectView {
  color: #707070;
  font-size: 15px;
}

.contentButton{
  background-color: #D8E2FF !important;
  color: #707070 !important;
  border: none !important;
  width: 100% !important;
  outline: none !important;
}

.contentButton:focus {outline:0;}

.contentHead{
  font-size: 20px;
}

.contentText{
  font-size: 15px;
  margin-top: 2%;
}

.autor{
  
  color: #BBBBBB;

}